html, body {
    height: 100%;
    margin-top: 0;
    font-family: "Trebuchet MS", sans-serif;
}
table.gsLayTable, td.gsLayTable {
    width: 100%; height: 100%;
}

table td {
    vertical-align: top;
}

#pdfLay {
    height: 90%;
}
#imageBgPreview {
    border: 1px solid black;
    cursor: pointer;
    width: 300px;
}
#imageBgPreview:hover {
    opacity: .7;
}

#labelCompPreview {
    position: absolute;
    text-align: center;
    border: 1px dashed #aaa;
    cursor: move;
    margin: 0;
    padding: 0;
    line-height: 1.15em; /* maybe add to settings? */
}

.ui-icon-arrowstop-1-s {
  -ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.3); /* Chrome, Safari, Opera */
  transform: scale(1.3);
}
